In [2]:
name = input("Please enter a name:")
def John_cena(name1):
    print("My name is John Cena ",name1)

John_cena(name)

Please enter a name:

My name is John Cena

In [4]:
x = 14
y = 11
sum_x_y = x+y
print(f"{x}+{y}={sum_x_y}")

14+11=25

In [8]:
#and.or,not,in,is
print(1 and 0)
print(1 or 0)
print(not 1)
print('p' in "power")
print( (9 + 5) is (7 * 2) )

0
1
False
True
True

<>:6: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:6: SyntaxWarning: "is" with a literal. Did you mean "=="?
/var/folders/zr/svfyjsys5jvdgy_kh09m34wr0000gp/T/ipykernel_62909/1091073601.py:6: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print( (9 + 5) is (7 * 2) )

In [33]:
#try,except,finally
var1 = 4  
var2 = 0  
    
# Exception raised in the try section  
try:  
    d = var1 // var2 # this will raise a "divide by zero" exception.  
    print( d )  
# this section will handle exception raised in try block  
except ZeroDivisionError:  
    print("We cannot divide by zero")  
finally:  
    # If exception is raised or not, this block will be executed every time  
    print("This is finally block")  
# by using assert keyword we will check if var2 is 0  
print ("The value of var1 / var2 is : ")  
assert var2 != 0, "Divide by 0 error"  
print (var1 / var2)

We cannot divide by zero
This is finally block
The value of var1 / var2 is :

AssertionError: Divide by 0 error

In [34]:
list_ = ['A','B','C']  
del list_[2]  
print(list_)

['A', 'B']

In [49]:
'''Numeric Literals (Integer, Floating-Point, Complex)
String Literals (Single line, multi-line)
Boolean Literals (True, False)
Collection Literals (Lists, Tuples, Dictionaries, Sets)'''

integer_num = 10      # Decimal integer  
binary_num = 0b1010    # Binary integer  
float_num = 20.5       # Standard floating-point number  
scientific_num = 2.5e3  # Equivalent to 2500.0  
negative_float = -0.99  # Negative floating-point number
complex_num = 3 + 5j   #complex number

#escape characters
'''\n - Newline
\t - Tab
\' - Single quote
\" - Double quote
\\ - Backslash'''

string1 = "Hello "  
string2 = "World"  
concatenated = string1 + string2  # "Hello World"  
repeated = string1 * 3  # "Hello Hello Hello"  

#List Literals: Ordered and mutable collection 
list_1 = [1, 0.5, 'hello', 1+5j, 1.7e2, -12, 'welcome']
#Tuple Literals: Ordered and immutable collection
tuple_1 = (1, 0.5, 'hello', 1+5j, 1.7e2, -12, 'welcome')
#Dictionary Literals: Key-value pairs 
dict1 = {'name': 'Alice', 'age': 25}
#Set Literals: Unordered collection of unique items 
set1 = {1, 2, 3}
set_2 = set(["ginger", "lemon", "potato", "tomato"])  
set_3 = set(list_1)
#range : 3 to 26 with step of 2
r = range(3, 26, 2)

In [137]:
#Operators
a = 46    # Initializing the value of a    
b = 4     # Initializing the value of b    
  
print("For a =", a, "and b =", b,"\nCalculate the following:")  
  
# printing different results  
print('1. Addition of two numbers: a + b =', a + b)    
print('2. Subtraction of two numbers: a - b =', a - b)    
print('3. Multiplication of two numbers: a * b =', a * b)    
print('4. Division of two numbers: a / b =', a / b)    
print('5. Floor division of two numbers: a // b =',a // b)    
print('6. Reminder of two numbers: a % b =', a % b)    
print('7. Exponent of two numbers: a ** b =',a ** b) 

#Bitwise Operators
a = 7          # initializing the value of a    
b = 8          # initializing the value of b    
  
# printing different results  
print('a & b :', a & b) # bitwise Operator
print('a and b :', a and b) # logical Operator
print('a | b :', a | b)    
print('a ^ b :', a ^ b) #XOR   
print('~a :', ~a) #Bitwise NOT 
print('a << b :', a << b)    
print('a >> b :', a >> b)

For a = 46 and b = 4
Calculate the following:
1. Addition of two numbers: a + b = 50
2. Subtraction of two numbers: a - b = 42
3. Multiplication of two numbers: a * b = 184
4. Division of two numbers: a / b = 11.5
5. Floor division of two numbers: a // b = 11
6. Reminder of two numbers: a % b = 2
7. Exponent of two numbers: a ** b = 4477456
a & b : 0
a and b : 8
a | b : 15
a ^ b : 15
~a : -8
a << b : 1792
a >> b : 0

In [45]:
#variables
#Dynamically typed (data type is not specifically defined)
a=10
b='string'

print(type(a))
print(type(b))

#variables are just pointers (b=a, only points to a, no separate memory allocated)
a = 10  
b = a  # 'b' also refers to the same object as 'a'  
print(id(a), id(b))  # Both variables reference the same memory location

#multiple assignment
a, b, c = 110, 120, 130  

#swapping without third variable
a, b = 10, 20
a, b = b, a
print(a, b)

#explicit conversion
tuple_data = (1, 2, 3)  
list_data = [4, 5, 6]  
set_data = {7, 8, 9} 
list_of_tuples = [("name", "Alice"), ("age", 25), ("city", "New York")] 

int(25.2) #: Converts any value to an integer.
float(20) #: Converts any value to a floating-point number.
str(45) #: Converts any value to a string.
list('abc') #: Converts any value (like a string or tuple) into a list. 

list_from_tuple = list(tuple_data)  # tuple -> list  
tuple_from_list = tuple(list_data)  # list -> tuple  
set_from_list = set(list_data)  # list -> set    
dict_from_list = dict(list_of_tuples)  # Explicit conversion: list -> dict

<class 'int'>
<class 'str'>
4487735888 4487735888
20 10

['a', 'b', 'c']

In [80]:
import math as mt
import random
#number functions
x=4
y=-5
abs(y)
mt.ceil(x)
mt.floor(y)
max(x,y)
min(x,y)
mt.exp(x)
mt.log(x)
mt.log10(x)
round(x,y)
mt.sqrt(x)
print(random.random())
print(random.choice([1,4,6,8])) # can be used with any tuple,list,dict
print(random.randint(2,17))

0.28174003118429003
4
15

In [243]:
#string_manipulation
str1 = "Hello"
print(str1[1])
print(str1[0:4]) #right extreme is not included
print(str1[::-1])
print(str1[-4:-2]) #rightmost character has index -1 not 0
print("Hello"[4])
del str1
str2 = "wonderwomen"
str1 = "Hello"
print('wo' not in str) # prints false as wo is present in str1.     
print("C:\\Users\\DEVANSH SHARMA\\Python32\\Lib")  
print(r"C:\\Users\\DEVANSH SHARMA\\Python32") 
print(f"{str1} is the str1") #better than repeated string joining
print(str2.capitalize())
print(str2.count('wo',0,10))
print(str2.index('wo',0,5))
print(str2.upper())
print(str2.lower())
print("a good day".split(" "))
print('''a good
day'''.split("\n"))
len(str2)
' '.join([str1,str2]) # must be passed as a list or tuple
# to check if a string is -> isnumeric(),isalpha(),isupper(),islower(),isalpha(),isalnum(),istitle() (first capital rest lower)

e
Hell
olleH
el
o
False
C:\Users\DEVANSH SHARMA\Python32\Lib
C:\\Users\\DEVANSH SHARMA\\Python32
Hello is the str1
Wonderwomen
2
0
WONDERWOMEN
wonderwomen
['a', 'good', 'day']
['a good', 'day']

'Hello wonderwomen'

In [119]:
type([1,2,3])==list

True

In [237]:
#Continue Statement -> It returns the control to the beginning of the loop.
#Break -> It stops the execution of the loop statement
#Pass -> Used for placeholding purposes, eat 5 star do nothing

student_name_1 = 'Itika'  
student_name_2 = 'Parker'
record = {'Itika': 90, 'Arshia': 92, 'Peter': 46}  
#can use else inside functions directly to return something if the (for/while) executes without break
def marks( student_name ):  
    for a_student in record: # for loop will iterate over the keys of the dictionary  
        if a_student == student_name:  
            return records[ a_student ]  
            #break  
    else:  
        return f'There is no student of name {student_name} in the records'   

print(f"Marks of student {student_name_1} are: ",marks(student_name_1))
print(f"Marks of student {student_name_2} are: ",marks(student_name_2))

x = 3  
while x > 0:  
    print(x)  
    x -= 1  
else:  
    print("Done")  # done is also printed since loop runs without breaking

Marks of student Itika are:  90
Marks of student Parker are:  There is no student of name Parker in the records
3
2
1
Done

In [301]:
#List - Ordered, Changeable, Repeated items allowed, diff data types allowed
my_lst = [7, 3, 4] 

my_lst.append(6)  
print(my_lst)   

my_lst.insert(1, 13)  
print(my_lst)  
  
my_lst.extend([14, 43, 37])  
print(my_lst)  

my_lst.pop()
print(my_lst)

my_lst.remove(6)
print(my_lst)

del my_lst[2]
print(my_lst)

print(sum(my_lst),max(my_lst),min(my_lst))

my_lst1 = sorted(my_lst)
print(my_lst1)

my_lst.sort() # cannot be assigned to a variable
print(my_lst)

my_lst.reverse()
print(my_lst)

print(my_lst.count(7))
print(my_lst.index(7))

len(my_lst)

[7, 3, 4, 6]
[7, 13, 3, 4, 6]
[7, 13, 3, 4, 6, 14, 43, 37]
[7, 13, 3, 4, 6, 14, 43]
[7, 13, 3, 4, 14, 43]
[7, 13, 4, 14, 43]
81 43 4
[4, 7, 13, 14, 43]
[4, 7, 13, 14, 43]
[43, 14, 13, 7, 4]
1
3

5

In [311]:
#tuples - immutable, Ordered, diff data types allowed
#tuples are more memory efficient

singleTuple = ("Arnold")  
print("Type of the variable 'singleTuple' =>", type(singleTuple))  # returns <class 'str'>  
  
# Creating a tuple that has only one element  
singleTuple = ("Arnold",)  # "," is important  
print("Type of the variable 'singleTuple' =>", type(singleTuple))  #returns <tuple>

#indexing and slicing similar to list
#adding two tuples
fruits_tuple = ("mango", "orange", "banana", "apple", "papaya") 
temp_tuple = ("pineapple", ) 
fruits_tuple += temp_tuple
print(fruits_tuple)

#assigning variable to each tuple index
(varOne, varTwo, *varThree) = fruits_tuple 
print(f"{varOne}, {varTwo}, {varThree}")

#looping, indexing, slicing is similar to lists
#some methods for tuples
resultTwo = fruits_tuple.count('mango')  
resultFour = fruits_tuple.index('mango', 0, 3)  
largest_element2 = max(fruits_tuple)  
smallest_element2 = min(fruits_tuple)  
length_of_tuple = len(fruits_tuple)

Type of the variable 'singleTuple' => <class 'str'>
Type of the variable 'singleTuple' => <class 'tuple'>
('mango', 'orange', 'banana', 'apple', 'papaya', 'pineapple')
mango, orange, ['banana', 'apple', 'papaya', 'pineapple']

In [341]:
#sets - unordered,unique,mutable (the members should be immutable(list,tuple,dict not allowed)),diff data types allowed
set5 = {1,2,4,4,5,8,9,9,10} 
set3 = set()     #to create empty set
set3.add(11)
set5.update([12,12,13,14])     #for multiple elements
set5.discard(2)     #doesn't throw error
#set5.remove(2)    #throws error if element not present
set5.pop()     #works but since set is unordered pops a random member
set5.clear()    #all memebers are cleared

set5.union(set3)        #set5 union set3
set5.intersection(set3)       #set5 intersection set3
print(set5-set3)        #set5 - set5 intersection set3

a = {"Devansh", "bob", "castle"}    
b = {"castle", "dude", "emyway"}    
c = {"fuson", "gaurav", "castle"}    
    
a.intersection_update(b, c)    #just to assign it to existing variable 
d= a.intersection(b, c) 
a == d 

#==: checks if two sets have the same elements, regardless of their order.
set5 == set3
#!=: checks if two sets are not equal.
set5 != set3
#<: checks if the left set is a proper subset of the right set (all elements in the left set are also in the right set, but the right set has additional elements).
set5 < set3
#>: checks if the right set is a proper subset of the left set (all elements in the right set are there is the left set, but left set has some extra)
set5 > set3

#Frozen set objects are unordered collections of unique elements, just like sets. They can be used the same way as sets, except they cannot be
#modified.Because they are immutable, frozen set objects can be used as elements of other sets or dictionary keys, while standard sets cannot.

set()

False

In [357]:
#dictionary - A dictionary is, in other words, a group of key-value pairs, where the values can be any Python object. 
#The keys, in contrast, are immutable Python objects, such as strings, tuples, or numbers. Dictionary entries are ordered
Dict = {"Name": "Gayle", "Age": 25}   

dict = {1: "Hcl", 2: "WIPRO", 3: "Facebook", 4: "Amazon", 5: "Flipkart"}    
# get() method    
print(dict[3])

Facebook